<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--数据库服务器ip-->
    <add key="host" value="127.0.0.1"/>
    <add key="user" value="cnis"/>
    <add key="password" value="cnis"/>
    <add key="database" value="cnis_hx"/>
    <add key="port" value="3306"/>
    <add key="distinct" value=""/>
    <!--web服务器ip-->
    <add key="webHost" value="127.0.0.1/cnis1.1"/>
    <!--cnis登录名、密码-->
    <add key="cnisLogin" value="userId=999&amp;password=000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
